<div class="row">
  <div class="col">

    <form>
      <p class="h4 text-center mb-4">Sign in</p>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="loginFormUsername" class="form-control">
        <label for="loginFormUsername">Username</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="loginFormPassword" class="form-control">
        <label for="loginFormPassword">Password</label>
      </div>

      <div class="text-center mt-4">
        <button class="btn btn-default" type="submit">Login</button>
      </div>
    </form>

  </div>
</div>
